<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<div class="container">
    <h2>Task List</h2>

    <!-- Create task link -->
    <div style="margin-bottom: 15px;">
        <a href="/tasks/create">+ Create New Task</a>
    </div>

    <!-- Task list -->
    <ul>
        <!-- Empty state -->
        <li th:if="${tasks == null || #lists.isEmpty(tasks)}">
            No tasks available
        </li>

        <!-- Task rows -->
        <li style="display: flex;" th:each="task : ${tasks}">
            <span style="width: 120px" th:text="${task.title}">Task title</span>
            &nbsp;|&nbsp;
            <span style="width: 250px" th:text="${task.description}">Task description</span>
            &nbsp;|&nbsp;
            <span th:text="${task.status}">Task status</span>
            &nbsp;|&nbsp;
            <span style="width: 50px" th:text="${task.assignedTo}">Task Assigned To</span>
            &nbsp;|&nbsp;
            <span style="width: 50px" ><a th:href="@{'/tasks/edit/' + ${task.id}}">Edit</a></span>

            &nbsp;|&nbsp;
            <form th:action="@{'/tasks/delete/' + ${task.id}}"
                  method="post"
                  style="display:inline-block !important">
                <button type="submit"
                        class="link-button delete-link"
                        onclick="return confirm('Are you sure you want to delete this task?');">
                    Delete
                </button>
            </form>
        </li>
    </ul>

    <!-- Logout -->
    <div style="margin-top: 20px;">
        <a href="/logout">Logout</a>
    </div>
</div>

</body>
</html>
