<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<div class="container">
    <h2>Task List</h2>

    <!-- Create task link -->
    <div style="margin-bottom: 15px;">
        <a href="/tasks/create">+ Create New Task</a>
    </div>
<table>
    <tr>
        <th>Title</th>
        <th >Description</th>
        <th>Status</th>
        <th>Assigned To</th>
        <th>Actions</th>
    </tr>
    <tr th:if="${tasks == null || #lists.isEmpty(tasks)}">>
        <td colspan="5">No tasks available</td>
    </tr>
    <tr th:each="task : ${tasks}">
        <td><span th:text="${task.title}">Task title</span></td>
        <td><span th:text="${task.description}">Task description</span></td>
        <td><span th:text="${task.status}">Task status</span></td>
        <td><span th:text="${task.assignedTo}">Task Assigned To</span></td>
        <td>
            <span><a style="margin-top:0px !important" th:href="@{'/tasks/edit/' + ${task.id}}">Edit</a></span>
            &nbsp;|&nbsp;
            <form th:action="@{'/tasks/delete/' + ${task.id}}"
                  method="post"
                  style="display:inline-block !important">
                <button type="submit"
                        class="link-button delete-link"
                        onclick="return confirm('Are you sure you want to delete this task?');">
                    Delete
                </button>
            </form>
        </td>

    </tr>
</table>
    <!-- Task list -->


    <!-- Logout -->
    <div style="margin-top: 20px;">
        <a href="/logout">Logout</a>
    </div>
</div>

</body>
</html>
